name: Publish Package to NPM
on:
  pull_request:
    branches: [ "main", "develop" ]
jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.output }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4 # Setup .npmrc file to publish to npm
        with:
          node-version: '20.x'
          cache: 'yarn'
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - name: Run CI
        uses: borales/actions-yarn@v4
        with:
          cmd: ci # will run `yarn ci` command
      - name: Gather Packages
        id: packages
        uses: borales/actions-yarn@v4
        with:
          cmd: nx run @bin/packages:start
  deploy:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        value: ${{fromJSON(needs.build.outputs.packages)}}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4 # Setup .npmrc file to publish to npm
        with:
          node-version: '20.x'
          cache: 'yarn'
      - name: Version check
        id: check
        uses: EndBug/version-check@v2
        with:
          file-name: ${{ matrix.value }}
          static-checking: localIsNew
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Needs Update
        run: 'echo "${{ toJSON(steps.check.outputs) }}"'