name: Publish Package to NPM
on:
  pull_request:
    branches: [ "main", "develop" ]
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    outputs:
      packages: ${{ steps.packages.outputs.output }}
      versions: ${{ steps.versions.outputs.output }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4 # Setup .npmrc file to publish to npm
        with:
          node-version: '20.x'
          cache: 'yarn'
          registry-url: 'https://registry.npmjs.org'
          token: ${{ secrets.NPM_TOKEN }}
      - name: Run install
        uses: borales/actions-yarn@v4
        with:
          cmd: install # will run `yarn install` command
      - name: Run CI
        uses: borales/actions-yarn@v4
        with:
          cmd: ci # will run `yarn ci` command
      - name: Set NPM Token
        run: npm config set //registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}
      - name: Gather Packages
        id: packages
        uses: borales/actions-yarn@v4
        with:
          cmd: nx run @bin/packages:start
      - name: Check Versions
        id: versions
        uses: borales/actions-yarn@v4
        env:
          packages: ${{ steps.packages.outputs.output }}
        with:
          cmd: nx run @bin/versions:start
      - name: Deploy Packages
        run: yarn nx run @bin/deploy:start
        env:
          packages: ${{ steps.versions.outputs.output }} 
